.masonry-box {
  img {
    width: 200px;
    height: auto;
  }

  li {
    display: inline-block;
  }
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 100px;
}

.item {
  background-color: #ffffff;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  background-color: #607D8B;
}

.masonry-item {
  // background-color: #ffffff;
  padding: 10px;
  // color: #ffffff;
  text-align: center;
  // background-color: #607D8B;
}

.masonry-item.is-h-2 {
  grid-row-end: span 2;
}

.masonry-item.is-h-3 {
  grid-row-end: span 3;
}