@media only screen and (max-width: 480px) {
  .main-illust {
    img {
      height: auto;
      width: 100%;
    }

    .white-gradation {
      bottom: -1px;
    }
  }

  #nav-toggle {
    width: 40px;
    height: 40px;
  }

  #nav-toggle>div {
    top: 13px;
  }

  #nav-toggle span {
    width: 20px;
    height: 2px;
    left: calc(50% - 10px);

  }

  // #nav-toggle span:nth-child(1) {
  //   // top: 0;
  // }

  #nav-toggle span:nth-child(2) {
    top: 6px;
  }

  #nav-toggle span:nth-child(3) {
    top: 13px;
  }

  .open #nav-toggle span:nth-child(1) {
    top: 7px;
    transform: rotate(45deg);
  }

  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }

  .open #nav-toggle span:nth-child(3) {
    top: 7px;
    transform: rotate(-45deg);
  }

  .info-wrapper {
    width: 95%;

    .contents-box {

      h2 {
        font-size: 36px;
        padding: 20px 0;
        margin-bottom: 22px;
      }



    }
  }

  .content {
    li {
      font-size: 14px;
    }
  }

  .contents-wrapper {
    width: 95%;

    .contents-box {

      h2 {
        font-size: 36px;
        padding: 20px 0;
        margin-bottom: 22px;
      }

      .contents-text {
        padding: 25px 20px 50px 20px;
        flex-flow: column;

        h3 {
          font-size: 22px;
          text-align: center;
        }

        .prof-icon {
          width: 100px;
          // margin-right: 20px;
        }

        p {
          font-size: 13px;
          font-weight: bold;
          font-family: 'Kiwi Maru', serif;
          font-weight: 300;
          text-align: left;
        }

        li {
          font-size: 12px;
          font-family: 'Kiwi Maru', serif;
          font-weight: 300;

        }



        .mail {
          font-size: 15px;
        }


      }

      .contents-text.info-list {
        flex-flow: unset;
      }

      .works-illust {
        .works-items {
          .works-deta {
            font-size: 12px;
          }
        }
      }

      .contact-text {
        .attention {
          p {
            font-size: 16px;
          }
        }
      }
    }

    .more-icon {
      font-size: 20px;
    }
  }

  .content {
    li {
      font-size: 14px;
    }
  }




  #work {
    .more-icon {
      top: 460px;
      right: 0px;
    }
  }


  .post-content {
    // font-size: 14px;

    p {
      font-size: 13px;
    }
  }

  .post-date {
    font-size: 13px;
  }

  .post-header {
    .post-date {
      font-size: 15px;
    }

    .post-time {
      font-size: 12px;
    }
  }

  .masonry {
    column-count: 2;
  }

  .tab-002>label {
    padding: 0.6em 1em 0.5em;
    font-size: 1em;
  }


  .attentionmodal__container {
    width: 85%;
    padding: 30px 10px 30px 10px;
    font-size: 13px;
  }

  .attention-text {
    padding: 15px;
  }

  .copyright-text {
    width: 95%;
    font-size: 10px;
  }
}